{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/jpeg" href="{% static 'icon.png' %}">
    <title>Sureways | {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    {% include 'components/alert.html' %}
    <div class="container-fluid">
        <div class="row vh-100">
            <!-- Sidebar -->
            <div class="col-md-2 shadow">
                {% include 'components/navbar.html' %}
            </div>

            <!-- Main Content -->
            <div class="col-md-10 vh-100 overflow-y-auto">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    function applyTheme(theme) {
        const htmlElement = document.documentElement;
        const toggleBtn = document.getElementById("lightDarkModeButton");
        const toggleBtnClass = document.getElementsByClassName("buttonMode");
        const icon = document.getElementById("iconlightDark");
        htmlElement.setAttribute("data-bs-theme", theme);
        toggleBtn.classList.toggle("btn-outline-dark", theme === "light");
        toggleBtn.classList.toggle("btn-outline-light", theme === "dark");
        for (let i = 0; i < toggleBtnClass.length; i++) {
            toggleBtnClass[i].classList.toggle("btn-outline-dark", theme === "light");
            toggleBtnClass[i].classList.toggle("btn-outline-light", theme === "dark");
        }
        icon.className = theme === "light" ? "bi bi-moon-stars-fill" : "bi bi-brightness-high-fill";
    }
    function toggleLightDarkMode() {
        const toggleBtn = document.getElementById("lightDarkModeButton");
        let savedTheme = sessionStorage.getItem("theme") || "light";
        applyTheme(savedTheme);
        toggleBtn.addEventListener("click", () => {
            let currentTheme = document.documentElement.getAttribute("data-bs-theme");
            let newTheme = currentTheme === "light" ? "dark" : "light";
            applyTheme(newTheme);
            sessionStorage.setItem("theme", newTheme);
        });
    }
    toggleLightDarkMode();
</script>

</html>